lightgbm.basic.LightGBMError: scikit-learn is required for lightgbm.sklearn. You must install scikit-learn and restart your session to use this module.

File "C:\Users\omran_n\Documents\عبدالرزاق\myelector\app_v2-1.py", line 197, in <module>
    model_elec = lgb.LGBMRegressor(n_estimators=50, max_depth=3, min_child_samples=1, verbose=-1)  # إنشاء نموذج LightGBM للكهرباء
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
File "C:\Users\omran_n\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightgbm\sklearn.py", line 1343, in __init__
    super().__init__(
File "C:\Users\omran_n\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightgbm\sklearn.py", line 632, in __init__
    raise LightGBMError(
